<div id="user-container">
  <%= render partial: "users/user_info", locals: { user: @user } %>
</div>

<div id="user-biography">
  <h3>Biography</h3>
  <p><%= @user.bio %></p>
</div>

<div id="post-container">
  <% @user.three_most_recent_posts.each_with_index do |post, i| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "posts/post_info", locals: { post: post } %>
      <% end %>
    </li>
  <% end %>
</div>

<%= link_to "See all posts", "/users/#{@user.id}/posts?page=1", class: "see-all-posts-button" %>